/* GENERAL STYLES */
$white: hsl(0, 0%, 100%);
$lightViolet: hsl(270, 3%, 87%);
$darkViolet: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);
$textSize: 18px;

/*breakpoints*/
$phone: 756px;
$tablet: 1024px;
$desktop: 1920px;

